services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_DB: beer_app_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
  
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgres://user:password@db:5432/beer_app_db
    depends_on:
      - db
    restart: always
  
  frontend:
    build:
      context: ./frontend
      args:
        - NEXT_PUBLIC_BACKEND_URL=http://192.168.1.99:5000
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always

volumes:
  db-data: